<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profile</h2>
<div class="summary">
    <p>Seasoned iOS Developer experienced in designing and developing custom applications ranging from home automation, to social and business apps. Works well independently as a Freelancer and in teams of all sizes. Anticipates customer needs and meets project requirements. Skilled in cross-cultural communication. Natural learner. In the top 1% most active open source Swift contributors on GitHub (4000+ commits and 1500+ stars in 2016). Contributed to Swift compiler, reverse engineered Apple’s Foundation framework and wrote clone of UIKit for Linux. Also loves Hackintoshes.</p>
</div><!--//summary-->
</section><!--//section-->