<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior iOS Developer</h3>
                            <div class="time">July 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Sayfe</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsible for maintaining Objective-C / Swift codebase and working on new features for end-to-end encrypted iOS messaging app.</p> 
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior iOS Developer</h3>
                            <div class="time">February 2016 - July 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Parkarr</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Implemented improvements in Swift for application used to locate parking spots (as featured on ABC’s Shark Tank).</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Mobile Developer</h3>
                            <div class="time">July 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Santex</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsible for estimation, architecture, and development of various iOS apps for clients. Developed open source Swift libraries that were reused across various projects. Swift and open source evangelist.</p>  
                    </div><!--//details-->
                </div><!--//item-->
								
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior iOS Developer</h3>
                            <div class="time">March 2015 - July 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Sysco SA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsible for maintaining Objective-C codebase of a suite of apps for the management of kindergartens in Norway.</p>  
                    </div><!--//details-->
                </div><!--//item-->
								
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior iOS Developer</h3>
                            <div class="time">September 2014 - March 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Unikey Technologies</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed iOS application for unlocking your door via Bluetooth LE (as featured on ABC’s Shark Tank). Updated codebase for iOS 8, migrated Objective-C code to Swift, implemented Adaptive UI, and refactored code for internal framework targets. </p>  
                    </div><!--//details-->
                </div><!--//item-->
								
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">iOS Developer</h3>
                            <div class="time">January 2014  - September 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Voalte</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsible for debugging and increasing the performance of Voalte's iOS apps collaboratively with engineering team. Implemented concurrency, MVC design, and updated code for iOS 8. Also worked heavily with XMPP and REST APIs.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                						
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">iOS Developer</h3>
                            <div class="time">2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Tecla Labs</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked as an iOS developer, creating new projects and supporting existing projects as needed. Developed a catalog app for a Peruvian jewelry company and worked on an iOS framework for rapid deployment of iOS apps for small businesses. Also worked on a Cocos2D runner game, social puzzle app, and Instagram-like app with image filters.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
						