<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
								
                <div class="item">
                  <span class="project-title"><a href="https://github.com/OpenStack-mobile/summit-app-ios">OpenStack Foundation Summit</a></span> - <span class="project-tagline">The official app for the OpenStack Foundation Summit.</span></div>
									
									<div class="item">
                    <span class="project-title"><a href="https://itunes.apple.com/us/app/sayfe-secure-private-messenger/id1050787926">Sayfe</a></span> - <span class="project-tagline">Messaging app with end-to-end encryption.</span></div>
											
											<div class="item">
		                    <span class="project-title"><a href=" https://itunes.apple.com/us/app/my-vistage/id891220703">MyVistage</a></span> - <span class="project-tagline">Mobile app that helps you prepare for meetings and connect with your Chair and group members on the go.</span></div>
												
												<div class="item">
			                    <span class="project-title"><a href="https://itunes.apple.com/us/app/vigilo-foresatt-barnehage/id771731428">Vigilo</a></span> - <span class="project-tagline">App for the management of kindergartens in Norway.</span></div>
													
									<div class="item">
                    <span class="project-title"><a href="https://itunes.apple.com/us/app/kevo-your-phone-is-now-your-key/id685604951">Kevo</a></span> - <span class="project-tagline">App for use with the Kevo Touch-To-Open smart locks made by Kwikset and Weiser.</span></div>
										
										<div class="item">
	                    <span class="project-title"><a href="https://itunes.apple.com/us/app/voalte-one/id350193462">Voalte One</a></span> - <span class="project-tagline">HIPAA-compliant, shared smartphone alternative for caregiver communication. This powerful app combines VoIP calling, alarm and alert notification, and text messaging on an easy-to-use, touch-based smartphone that supports future mobile infrastructures.</span></div>
											
											<div class="item">
		                    <span class="project-title"><a href="https://github.com/PureSwift/SwiftFoundation">SwiftFoundation</a></span> - <span class="project-tagline">Cross-Platform, Protocol-Oriented Programming base library to complement the Swift Standard Library.</span></div>
												
												<div class="item">
			                    <span class="project-title"><a href="https://github.com/PureSwift/BluetoothLinux">BluetoothLinux</a></span> - <span class="project-tagline">Pure Swift Bluetooth Stack for Linux (does not require user land C libraries, communicates directly with the Linux kernel).</span></div>
													
														<div class="item">
					                    <span class="project-title"><a href="https://github.com/PureSwift/Cacao">Cacao</a></span> - <span class="project-tagline">Pure Swift Cross-platform UIKit (Cocoa Touch) implementation (Supports Linux). </span></div>
															
															<div class="item">
						                    <span class="project-title"><a href="https://github.com/colemancda/NetworkObjects">NetworkObjects</a></span> - <span class="project-tagline">Creates a REST API from a Core Data model. First Open Source Objective-C server framework (1000 commits, deprecated).</span></div>
																
																<div class="item">
							                    <span class="project-title"><a href="https://www.macupdate.com/app/mac/46004/wi-fi+crack">Wi-Fi Crack</a></span> - <span class="project-tagline">Allows you to crack any wireless network with WEP security. Powered by Aircrack-ng. Most popular app for month of April 2014 on MacUpdate.com, with over 250k downloads. </span></div>
								
            </section><!--//section-->